<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<integer>0</integer>
		<key>label</key>
		<string>circle-clockwise</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>1</integer>
		<key>label</key>
		<string>corcle-counterclock</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>2</integer>
		<key>label</key>
		<string>upper-circle-half</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>3</integer>
		<key>label</key>
		<string>lowr-circle-half</string>
	</dict>
</array>
</plist>
